<!-- use base.html as the template of this page, present navigation bar and footer-->
{% extends "base.html" %}
{% block content %}
<div style="margin-bottom: 12.5%;">
    <!-- test if it's working -->
    <div class="container-fluid mt-5 ">
        <div class="text-background dark-blue">
            <h1>About Wave & Leaf</h1>
            <p>At Wave & Leaf, we believe in the power of food to nourish both the body and the soul. Our mission is
                simple: to inspire and empower individuals to embrace a healthy lifestyle through the joy of cooking and
                eating wholesome meals.</p>

            <h3>Variety</h3>
            <p>From vibrant plant-based creations to mouthwatering seafood delicacies, our extensive recipe database
                offers something for everyone. Explore a world of flavors and textures, and discover new favorites to
                delight your taste buds.</p>

            <h3>Health & Wellness</h3>
            <p>We believe in the profound impact of diet on overall well-being. That's why our recipes prioritize
                wholesome, nutrient-rich ingredients that fuel your body and support a balanced lifestyle. Whether
                you're looking to improve your health, lose weight, or simply eat better, Wave & Leaf has you covered.
            </p>

            <h3>Sustainability</h3>
            <p>At Wave & Leaf, we are committed to sustainability and mindful eating. We strive to promote
                environmentally friendly practices and encourage conscious consumption. By choosing plant-based and
                seafood-centric meals, you're not only nourishing yourself but also contributing to a healthier planet.
            </p>


            <h3> Wave & Leaf Community</h3>
            <p>Cooking is about more than just food—it's about connection. Join our vibrant community of food
                enthusiasts, share your culinary creations, and connect with like-minded individuals who share your
                passion for healthy eating and living.</p>

            <h3>Inspiration</h3>
            <p>Whether you're seeking quick weeknight dinners, elegant party fare, or indulgent treats, Wave & Leaf is
                your source of inspiration. Our regularly updated content, cooking tips, and kitchen hacks will empower
                you to unleash your creativity and elevate your culinary skills.</p>

            <h3>Join Us on the Journey</h3>
            <p>At Wave & Leaf, we invite you to embark on a journey of flavor, wellness, and discovery. Whether you're
                cooking for yourself, your family, or your friends, let us be your trusted companion on the path to a
                healthier, happier life.</p>
        </div>
    </div>
</div>

{% endblock %}