<!-- use base.html as the template of this page, present navigation bar and footer-->
{% extends "base.html" %}
<!-- dynamic title block from base.html -->
{% block title %}Wave & Leaf - Home{% endblock %}
{% block content %}
<div class="container home-page">
    <div class="categories">
        <div class="row text-center">
            <h1 class="main-text mb-5">Choose your preference:</h1>
            <div class="col-12 col-lg-4 bubble">
                <a href="{{ url_for('vegan_recipes') }}" class="d-block">
                    <img src="{{url_for('static', filename='images/vegan.png')}}" alt="Vegan Food Category Icon" class="rounded-circle img-fluid" style="width: 300px; height: 300px;">
                    <h3 class="dark-blue" style="font-weight: 300; text-shadow: 1px 1px 1px grey;">Vegan</h3>
                </a>
            </div>
            <div class="col-12 col-lg-4 bubble">
                <a href="{{ url_for('vegetarian_recipes') }}" class="d-block">
                    <img src="{{url_for('static', filename='images/vegetarian.png')}}" alt="Vegetarian Food Category Icon" class="rounded-circle img-fluid" style="width: 300px; height: 300px;">
                    <h3 class="dark-blue" style="font-weight: 300; text-shadow: 1px 1px 1px grey;">Vegetarian</h3>
                </a>
            </div>
            <div class="col-12 col-lg-4 bubble">
                <a href="{{ url_for('pescatarian_recipes') }}" class="d-block">
                    <img src="{{url_for('static', filename='images/pescatarian.png')}}" alt="Pescatarian Food Category Icon" class="rounded-circle img-fluid" style="width: 300px; height: 300px;">
                    <h3 class="dark-blue" style="font-weight: 300; text-shadow: 1px 1px 1px grey;">Pescatarian</h3>
                </a>
            </div>
        </div>
    </div>
</div>
{{ edit_alert_script|safe }}
{% endblock %}