<!-- use base.html as the template of this page, present navigation bar and footer-->
{% extends "base.html" %}
{% set body_class = 'deep-blue-background' %}
{% block content %}
<div class="m-3" style="padding-bottom: 75px;">
    <!-- pescatarian recipes -->
    <div class="row mt-5 mb-5 text-background">
        <!-- page title -->
        <h1 class="text-center recipe-title dark-blue">Pescatarian Recipes</h1>
        {% if pescatarian_recipes %}
        {% for recipe in pescatarian_recipes %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4">
            <!-- using bootstrap cards for presenting the recipes -->
            <div class="card">
                <img src="{{recipe.image_url}}" class="card-img-top recipe-image" alt="...">
                <div class="card-body">
                    <!-- recipe title -->
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <!-- restrict recipe description so all the cards are the same size  -->
                    <div style="height: 88px;">
                        {% if recipe.description|length > 75 %}
                        <p class="card-text">
                            {{ recipe.description[:75] }}{% if recipe.description|length > 75 %}...{% endif %}</p>
                        {% else %}
                        <p class="card-text">{{ recipe.description }}</p>
                        {% endif %}
                    </div>
                    <!-- if the recipe wasn't edited before, use the upload time instead -->
                    <p class="card-text"><small class="text-body-secondary">Last updated:
                            {% if recipe.edited_time %}
                            {{ recipe.edited_time.strftime('%Y-%m-%d %H:%M') }}
                            {% else %}
                            {{ recipe.uploaded_time.strftime('%Y-%m-%d %H:%M') }}
                            {% endif %}
                        </small></p>
                    <p class="card-text">Created by: {{recipe.user.username}}</p>
                    <!-- forward user to the actual recipe page  -->
                    <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="btn btn-primary">Go to the recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12 p-3 dark-blue text-center container no-recipes">
            <h3>No recipes at the moment, please come back later or upload some yourself!</h3>
            <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXV4MXJmaDNjZGk1eWVkYm5jMjk3ZnJqem0zZXkydjU3NmM0Y2VpYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/RLcOh1iqSIOxUvHZwe/giphy.gif" alt="vegetarian food animated image">
            
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}