<!-- use base.html as the template of this page, present navigation bar and footer-->
{% extends "base.html" %}
<!-- todo: set bg class depending on recipe category -->
{% set body_class = 'light-green-background' %}
<!-- dynamic title block from base.html -->
{% block title %}W & L Recipe: {{ recipe.title }}{% endblock %}
{% block content %}

<!-- Recipe content -->


<div class="container-fluid p-0 mt-5" style="margin-bottom: 125px;">
    <h1 class="text-center recipe-title">{{ recipe.title }}</h1>
    <div class="row">
        <div class="col-md-6">
                <img style="width: 100%; height: 500px; object-fit: cover; border-radius: 15px;" src="{{recipe.image_url}}" alt="{{recipe.title}}">
        </div>
        <!-- load recipe details from db -->
        <div class="col-md-6 ">
            <div class="text-background-recipe">
                <h3 ><span style="font-weight: 700;">{{ recipe.title }}</span></h3>
                <!-- todo: change allergens to fontawesome icons -->
                {% if recipe.allergens != "" %}
                <p><b>Allergens:</b> {{ recipe.allergens }}</p>
                {% endif %}
                <p>Difficulty: <strong style="font-weight: 700;">{{recipe.difficulty.value}}</strong></p>
                <p>Servings: <strong style="font-weight: 700;">{{recipe.servings}}</strong></p>
                <p>Cooking Time: <strong style="font-weight: 700;">{{recipe.cooking_time}}</strong></p>
                <p>Creator: <b>{{recipe.user.username}}</b></p>
                <p>Uploaded on: {% if recipe.edited_time %}
                    <b>{{ recipe.edited_time.strftime('%Y-%m-%d %H:%M') }}</b>
                    {% else %}
                    <b>{{ recipe.uploaded_time.strftime('%Y-%m-%d %H:%M') }}</b>
                    {% endif %}</p>
                <p>Last Edited: {% if recipe.edited_time %}
                    <b>{{ recipe.edited_time.strftime('%Y-%m-%d %H:%M') }}</b>
                    {% else %}
                    <b>{{ recipe.uploaded_time.strftime('%Y-%m-%d %H:%M') }}</b>
                    {% endif %}</p>
                <p><span style="font-size: 1.5em;">Recipe Description:</span><br>{{ recipe.description }}</p>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <h2>Recipe Guide</h2>
            <div class="text-background-recipe extra-margin">
                <h3>Ingredients</h3>
                <ul>
                    {% for ingredient in recipe.ingredients.split(',') %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <h2>Preparation Steps</h2>
                <ol>
                    {% for step in recipe.preparation_steps.split('\n') %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>


{% endblock %}