<!-- upload-success.html -->

<!-- use base.html as the template of this page, present navigation bar and footer-->
{% extends "base.html" %}
<!-- dynamic title block from base.html -->
{% block title %}Wave & Leaf - Success{% endblock %}
{% block content %}
<script>
    // display a confirmation popup
    window.onload = function () {
        Swal.fire({
            title: 'Success!',
            text: 'Recipe uploaded successfully! You can edit or delete it under the My Recipes page.',
            icon: 'success',
            confirmButtonColor: '#496989',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
                // redirect to the home page
                window.location.href = "{{ url_for('my_recipes') }}";
            }
        });

    }
    </script>
{% endblock %}