<!-- use base.html as the template of this page, present navigation bar and footer-->
{% extends "base.html" %}
{% block content %}
<div>

    <!-- upload recipe -->

    <div class="container px-0 ur">
        <div class="row w-100 m-0 justify-content-center">
            <div class="col submit-recipe" style="max-width: 100vw;">
                <div class=" recipe-form-wrapper text-background-upload p-5 shadow" style="border-radius: 15px;">
                    <form method="POST" action="{{ url_for('upload_recipe') }}">
                        <h3 class="mb-4">Submit Your Recipe</h3>
                        <div class="row">
                            <!-- recipe title -->
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label for="recipeTitle" class="form-label">Recipe Title</label>
                                    <input type="text" class="form-control" id="recipeTitle" placeholder="Delicious Vegan Brownies" name="title" required>
                                </div>
                            </div>
                            <!-- recipe category -->
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="recipeCategory" class="form-label">Recipe Category</label>
                                    <select class="form-select" id="recipeCategory" name="category_id" required>
                                        <option value="1" selected>Vegan</option>
                                        <option value="2">Vegetarian</option>
                                        <option value="3">Pescatarian</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <!-- recipe difficulty -->
                                    <label for="recipeDifficulty" class="form-label">Recipe Difficulty</label>
                                    <select class="form-select" id="recipeDifficulty" name="difficulty" required>
                                        <option value="Easy" selected>Easy</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Hard">Hard</option>
                                    </select>
                                </div>
                            </div>
                            <!-- cooking time -->
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="recipeCookingTime" class="form-label">Cooking Time</label>
                                    <input type="text" class="form-control" id="recipeCookingTime" placeholder="e.g., 30 minutes" name="cooking_time" required>
                                </div>
                            </div>
                            <!-- servings -->
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="recipeServings" class="form-label">Servings</label>
                                    <input type="number" class="form-control" id="recipeServings" placeholder="Number of servings" name="servings" required>
                                </div>
                            </div>
                        </div>
                        <!-- recipe description -->
                        <div class="mb-3">
                            <label for="recipeDescription" class="form-label">Recipe Description</label>
                            <textarea class="form-control" id="recipeDescription" rows="3" placeholder="Describe your recipe..." name="description" required></textarea>
                        </div>
                        <!-- ingredients -->
                        <div class="mb-3">
                            <label for="recipeIngredients" class="form-label">Ingredients</label>
                            <textarea class="form-control" id="recipeIngredients" rows="3" placeholder="List all ingredients..." name="ingredients" required></textarea>
                        </div>
                        <!-- instructions -->
                        <div class="mb-3">
                            <label for="recipeInstructions" class="form-label">Instructions</label>
                            <textarea class="form-control" id="recipeInstructions" rows="5" placeholder="Provide step-by-step instructions..." name="preparation_steps" required></textarea>
                        </div>
                        <!-- allergens -->
                        <div class="mb-4">
                            <label for="recipeAllergens" class="form-label">Allergens</label>
                            <!-- use Select2 jquery replacement for multiple selection -->
                            <select multiple="multiple" class="form-select" id="recipeAllergens" name="allergens">
                                <!-- the empty option is required for Select2 placeholder -->
                                <option></option>
                                <option value="Crustaceans">Crustaceans</option>
                                <option value="Eggs">Eggs</option>
                                <option value="Fish">Fish</option>
                                <option value="Peanuts">Peanuts</option>
                                <option value="Soybeans">Soybeans</option>
                                <option value="Milk">Milk</option>
                                <option value="Nuts">Nuts (e.g., almonds, hazelnuts, walnuts)</option>
                                <option value="Celery">Celery</option>
                                <option value="Mustard">Mustard</option>
                                <option value="Sesame">Sesame</option>
                                <option value="Sulfites">Sulfites</option>
                                <option value="Lupin">Lupin</option>
                                <option value="Molluscs">Molluscs</option>
                            </select>
                        </div>
                        <!-- recipe image -->
                        <!-- todo: make sure user uploaded an image (check if actual url available) -->
                        <div class="mb-4">
                            <label for="recipeImage" class="form-label">Recipe Image</label>
                            <br>
                            <button type="button" id="upload_widget" class="btn-warning btn">Upload Image</button>
                            <!-- hidden input for the image url that will be populated by cloudinary -->
                            <input type="hidden" id="recipeImageURL" name="image_url" required>
                            <!-- dynamic form text changing depending on the status of the image upload  -->
                            <div class="form-text" id="uploadStatusText">
                                Click the button to upload your recipe image. For best results, please ensure the image is sized at 1024x1024 pixels.
                            </div>
                            <img id="uploadedImage" src="" alt="Uploaded Image" style="max-width: 100%; height: auto; display: none;" />
                        </div>
                        <div class="w-100 text-center">
                            <button type="submit" class="btn btn-primary py-3" style="width: 40%;" onsubmit="return confirm('Are you sure you want to upload this recipe? You can edit or delete it under the My Recipes page.');">Submit Recipe</button>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}