<!-- use base.html as the template of this page, present navigation bar and footer-->
{% extends "base.html" %}
{% set body_class = 'light-green-background' %}
{% block content %}
<div>
    <!-- vegetarian recipes -->
    <div class="row mt-5">
        <!-- page title -->
        <h1 class="text-center m-3">Vegetarian Recipes</h1>
        {% for recipe in vegetarian_recipes %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <!-- using bootstrap cards for presenting the recipes -->
            <div class="card">
                <img src="{{recipe.image_url}}" class="card-img-top recipe-image" alt="...">
                <div class="card-body">
                    <!-- recipe title -->
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <!-- restrict recipe description so all the cards are the same size  -->
                    <div style="height: 88px;">
                        {% if recipe.description|length > 75 %}
                        <p class="card-text">
                            {{ recipe.description[:75] }}{% if recipe.description|length > 75 %}...{% endif %}</p>
                        {% else %}
                        <p class="card-text">{{ recipe.description }}</p>
                        {% endif %}
                    </div>
                    <!-- if the recipe wasn't edited before, use the upload time instead -->
                    <p class="card-text"><small class="text-body-secondary">Last updated: 
                        {% if recipe.edited_time %}
                            {{ recipe.edited_time.strftime('%Y-%m-%d %H:%M') }}
                        {% else %}
                            {{ recipe.uploaded_time.strftime('%Y-%m-%d %H:%M') }}
                        {% endif %}
                    </small></p>
                    <p class="card-text">Created by: {{recipe.user.username}}</p>
                    <!-- forward user to the actual recipe page  -->
                    <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="btn btn-primary">Go to the recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}