@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* main colors */
:root {
    --deep-blue: #496989;
    --sea-green: #58A399;
    --light-green: #A8CD9F;
    --pale-green: #E2F4C5;
}
body{
    font-family: "Poppins", sans-serif !important;
}

/* default body class styling */
.default-body-class {

    background-image: url('../images/pale-green.jpg');
    background-size: inherit;
    background-repeat: repeat-y;
}

/* specific background for deep-blue-background class */
.deep-blue-background {
    background-image: url('../images/deep-blue.jpg');
    background-size: inherit;
    background-repeat: repeat-y;
}

.light-green-background {
    background-image: url('../images/light-green.jpg');
    background-size: inherit;
    background-repeat: repeat-y;
}

.sea-green-background {
    background-image: url('../images/sea-green.jpg');
    background-size: inherit;
    background-repeat: repeat-y;
}

/* custom design for buttons */
.btn-info {
    background-color: var(--deep-blue) !important;
    border-color: var(--deep-blue) !important;
    color: white !important;
}

.btn-info:hover {
    filter: brightness(0.9) !important;
}

.btn-success {
    background-color: var(--deep-blue) !important;
    border-color: var(--deep-blue) !important;
    color: white !important;
}

.btn-success:hover {
    filter: brightness(0.9) !important;
}

.btn-warning {
    background-color: var(--sea-green) !important;
    border-color: var(--sea-green) !important;
    color: white !important;
}

.btn-warning:hover {
    filter: brightness(0.9) !important;
}

.btn-primary {
    background-color: var(--light-green) !important;
    border-color: var(--light-green) !important;
    color: white !important;
}

.btn-primary:hover {
    filter: brightness(0.9) !important;
}

.btn-outline-success {
    border-color: var(--sea-green) !important;
    color: var(--sea-green) !important;
}

.btn-outline-success:hover {
    background-color: var(--sea-green) !important;
    color: white !important;
}

/* home */
.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: auto;
}

.home-page .container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none !important;
}

.solid-bg {
    background-color: var(--pale-green) !important;
    background-image: none !important;
}


.categories {
    width: 100%;
    margin-top: -5%;
}

.main-text {
    color: var(--deep-blue);
    font-weight: 300;
}
.bubble:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: all 0.2s;
}
.bubble{
    transition: all 0.2s;
}
.text-background-categories {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: 0 50px 0 50px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.text-background-categories:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}


.light-green {
    color: var(--light-green);
    text-decoration: none;
}

.dark-blue {
    color: var(--deep-blue);
}

.dark-green {
    color: var(--sea-green);
}

/* loading screen */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none; 
    z-index: 9999;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}
/* navigation */

.navbar {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-brand img {
    height: 50px;
}

.nav-link {
    font-weight: 500 !important;
    color: var(--deep-blue) !important;
}

.nav-link:hover {
    filter: brightness(75%);
}


@media (min-width: 992px) {

    .navbar-nav-container,
    .button-container {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;

    }

    .navbar-nav-container {
        flex-grow: 0;

    }
}

.img-fluid {
    margin-bottom: 10px;
}

/* category pages */


.card-img-top.recipe-image {
    object-fit: cover;
    height: 250px;
}


/* make  Select2 dropdown mobile-responsive */
@media screen and (max-width: 768px) {

    /* change width of Select2 dropdown container */
    .select2-container {
        width: 100% !important;
    }

    /* change width of Select2 dropdown */
    .select2-dropdown {
        width: 100% !important;
        box-sizing: border-box;
    }

    .select2-results__option {
        white-space: normal !important;
        word-wrap: break-word;
    }
}

/* apply responsive styles for Select2 dropdown */
@media screen and (max-width: 1399px) {
    .select2-container {
        width: 100% !important;
    }
}

/* footer */
footer {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

/* upload recipe */
.recipe-form-wrapper {
    background-color: rgba(255, 255, 255, 0.8) !important;
    margin-bottom: 100px;
    margin-top: 50px;
}

.recipe-hero {
    height: 50vh;
    background-size: cover;
    background-position: center;
}



.text-background-upload,
.text-background {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* footer icon */
.github-icon:hover{
    filter:contrast(200%);
    transition: all 0.2s;
}
.github-icon{
    transition: all 0.2s;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .recipe-title {
        margin: 30px;
    }

    .recipe-hero,
    .recipe-details {
        flex: 1;
    }

    .recipe-hero {
        border-radius: 15px;
        margin-left: 2rem;
    }

}

@media (min-width: 1025px) {

    .recipe-title {
        margin: 30px;
    }

    .recipe-hero,
    .recipe-details {
        flex: 1;
    }

    .recipe-hero {
        border-radius: 15px;
        margin-left: 5rem;
    }
}

@media (max-width: 767px) {
    .recipe-hero {
        height: 40vh;
        margin: 1rem;
        border-radius: 15px;
    }

    .recipe-title {
        margin: 10px;
    }

    .text-background {
        border-radius: 15px;
    }
    
}

/* Responsive styling */

/* styles for very small devices (smaller phones) */
@media only screen and (max-width: 400px) {
    .navbar-nav li, .navbar-nav li button{
        margin-left: 0 !important;
        margin-bottom: 2px;
    }
    #welcomeMessage{
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 1.1em;
    }
    .navbar-brand img{
        height: 40px;
    }
    .footer{
        justify-content: center !important;
    }
    .footer ul {
        justify-content: center !important;
    }
    .text-background{
        margin-top: 10% !important;
        margin-bottom:15% !important
    }
    .about-wrapper{
        margin-bottom: 60.5%;
    }
    .recipe-title{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .no-recipes img{
        width: 50vw;
    }
    .home-page{
        padding-top: 15%;
        padding-bottom: 55%;
    }
    .bubble a img{
        width: 200px !important;
        height: 200px !important;
    }
}
/* styles for extra small devices like phones */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    .navbar-nav li, .navbar-nav li button{
        margin-left: 0 !important;
        margin-bottom: 2px;
    }
    #welcomeMessage{
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 1.2em;
    }
    .footer{
        justify-content: center !important;
    }
    .footer ul {
        justify-content: center !important;
    }
    .text-background{
        margin-top: 10% !important;
        margin-bottom:20% !important
    }
    .uploadedit{
        width: 70%;
    }
    .recipe-form-wrapper{
        padding: 1rem;
    }
    .about-wrapper{
        margin-bottom: 55.5%;
    }
    .recipe-title{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .no-recipes img{
        width: 40vw;
    }
    .home-page{
        padding-top: 15%;
        padding-bottom: 45%;
    }
    .bubble a img{
        width: 200px !important;
        height: 200px !important;
    }

}
/* styles for small devices (larger phones, small tablets) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .navbar-nav li, .navbar-nav li button{
        margin-left: 0 !important;
        margin-bottom: 2px;
    }
    #welcomeMessage{
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 1.2em;
    }
    .footer{
        justify-content: center !important;
    }
    .footer ul {
        justify-content: center !important;
    }
    .text-background{
        margin-top: 10% !important;
        margin-bottom:20% !important
    }
    .uploadedit{
        width: 65%;
    }
    .recipe-form-wrapper{
        padding: 2rem;
    }
    .about-wrapper{
        margin-bottom: 42.5%;
    }
    .recipe-title{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .no-recipes img{
        width: 35vw;
    }
    .home-page{
        padding-top: 15%;
        padding-bottom: 35%;
    }
}
/* styles for medium devices (small tablets, large tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav li, .navbar-nav li button{
        margin-left: 0 !important;
        margin-bottom: 2px;
    }
    #welcomeMessage{
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 1.2em;
    }
    .footer{
        justify-content: center !important;
    }
    .footer ul {
        justify-content: center !important;
    }
    .text-background{
        margin-top: 10% !important;
        margin-bottom:15% !important
    }
    .uploadedit{
        width: 55%;
    }
    .recipe-form-wrapper{
        padding: 3rem;
    }
    .about-wrapper{
        margin-bottom: 20.5%;
    }
    .recipe-title{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .no-recipes img{
        width: 30vw;
    }
    .home-page{
        padding-top: 15%;
        padding-bottom: 15%;
    }
}
/* styles for large devices (small laptops/desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer{
        justify-content: space-between !important;
    }
    .footer ul {
        justify-content: end !important;
    }
    .text-background{
        margin-top: 10% !important;
        margin-bottom:10% !important
    }
    .uploadedit{
        width: 200px;
    }
    .recipe-form-wrapper{
        padding: 3rem;
    }
    .about-wrapper{
        margin-bottom: 10.5%;
    }
    .recipe-title{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .no-recipes img{
        width: 25vw;
    }
    .home-page{
        padding-top: 15%;
        padding-bottom: 10%;
    }
}
/* styles for extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
    .footer{
        justify-content: space-between !important;
    }
    .footer ul {
        justify-content: end !important;
    }
    .text-background{
        margin-top: 10% !important;
        margin-bottom:10% !important
    }
    .uploadedit{
        width: 200px;
    }
    .recipe-form-wrapper{
        padding: 3rem;
    }
    .about-wrapper{
        margin-bottom: 5%;
    }
    .recipe-title{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .no-recipes img{
        width: 300px;
    }
    .home-page{
        padding-top: 15%;
        padding-bottom: 10%;
    }
}

/* Responsive styling ends  */


